@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background: cyan; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Round corners of the thumb */
  }
  
